<h2>Garden Plots</h2>

<% @plots.each do |plot| %>
  <div id = <%="plot_#{plot.id}" %>>
    <p>Plot Number: <%= plot.number %></p>
    <div id =<%= "plot_#{plot.id}_plants"%>>
    <% plot.plants.each do |plant| %>
    <p>Plants: <%=plant.name %></p>
    <p><%= link_to "Remove Plant", "/plots/#{plot.id}/plants/#{plant.id}", method: :delete, local: :true %> </p>
    <% end %>
  </div>
<% end %>








